<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="icon" href="images/fv-icon.png" type="image/gif">
<title>{{title}}</title>
<meta name="description" value="{{description}}" />
<!--bootstrap.min.css-->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!--animate.css-->
<link rel="stylesheet" href="css/animate.min.css">
<!--fontawesome 5-->
<link rel="stylesheet" href="css/all.min.css">
<!--slicknav.css-->
<link rel="stylesheet" href="css/slicknav.min.css">
<!--slickslider.css-->
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/slick.css">
<!-- lity.css -->
<link rel="stylesheet" href="css/lity.min.css">
<!-- Custom.css -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/responsive.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->