<!-- Back to top button -->
<a id="btn-to-top" class="show"></a>
<!-- Jquery.min.js-->
<script src="js/jquery.1.12.4.js"></script>
<!--bootstrap.min.js-->
<script src="js/bootstrap.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<!--slicknav.min.js-->
<script src="js/jquery.slicknav.min.js"></script>
<!--slickslider.min.js-->
<script src="js/slick.min.js"></script>
<!-- counterup.min.js -->
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<!-- magnific-popup.js -->
<script src="js/lity.min.js"></script>
<!-- isotope.pkgd.min.js -->
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/imagesloaded.js"></script>
<!-- main.js -->
<script src="js/main.js"></script>