<div class="item">
    <img src="images/3.1.jpg" alt="hero-1">
    <div class="hero-slider__content-wrapper">
        <div class="container">
            <div class="row justify-content-lg-center">
                <div class="col-lg-10 text-center">
                    <div class="hero-slider__content">
                        <h2 class="hero-slider__title">Take Your Dream</h2>
                        <p class="hero-slider__text">Et ea invidunt magna dolores ut et magna eos sit erat. Dolor et kasd takimata no duo gubergren justo ut nonumy, voluptua accusam at clita ut. Rebum clita accusam nonumy.</p>
                        <a class="hero-slider__btn active mr-2" href="about.html"> Get Start</a>
                        <a class="hero-slider__btn" href="contact.html"> Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="item">
    <img src="images/3.2.jpg" alt="hero-1">
    <div class="hero-slider__content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="hero-slider__content">
                        <h2 class="hero-slider__title">Choose The Best Tour Package</h2>
                        <p class="hero-slider__text">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm tempor incididunt ut labore et dolore.</p>
                        <a class="hero-slider__btn active mr-2" href="about.html"> Get Start</a>
                        <a class="hero-slider__btn" href="contact.html"> Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <img src="images/3.3.jpg" alt="hero-1">
    <div class="hero-slider__content-wrapper">
        <div class="container">
            <div class="row justify-content-lg-center">
                <div class="col-lg-10 text-center">
                    <div class="hero-slider__content">
                        <h2 class="hero-slider__title">Travel To The Best Beautiful Place</h2>
                        <p class="hero-slider__text">Sed ipsum et eos clita elitr vero invidunt et sanctus. Et takimata ipsum consetetur dolores consetetur amet lorem magna. Justo eos eirmod diam et invidunt dolor amet rebum..</p>
                        <a class="hero-slider__btn active mr-2" href="about.html"> Get Start</a>
                        <a class="hero-slider__btn" href="contact.html"> Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>