<!DOCTYPE html>
<html lang="zxx">

<head>
    {{>head}}
</head>

<body>
    <!-- Preloader -->
    <!--<div id="preloader"></div>-->
    <!-- Start-Header-Section -->
    <header>
        <!-- Topbar-start-area -->
        <div class="header_top_area type-two">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="contact_wrapper_top">
                            <ul class="header_top_contact">
                                {{>headcontact}}
                            </ul>
                            <div class="topbar-icon">
                                <ul>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End-Topbar-area -->
        <!-- Menu-start-area -->
        <div class="header-fixed header-two">
            <div class="container">
                {{>nav}}
            </div>
        </div>
        <!-- End-Menu-area-->
    </header>
    <!-- Banner-area -->
    <section class="same-section-spacing bg-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-box">
                        <h2>About Us</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About Us</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End-banner-area -->
    <!-- about-area -->
    <section class="ws-section-spacing about-three">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="img-wapper">
                        <img src="images/abt.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h2>{{desription1}}</h2>
                        <p>Ut et justo invidunt et sit takimata dolor accusam erat. Duo amet consetetur diam stet vero dolor no est accusam, aliquyam dolor vero sit sea. No et justo consetetur at lorem clita sit ea. Dolor sed clita dolor ea elitr sed elitr
                            sea. At est ut lorem voluptua lorem elitr.Amet erat nonumy amet sed takimata clita, invidunt lorem ut no sit aliquyam justo.</p>
                        <p>Tempor dolor vero dolor sadipscing eos erat dolor sanctus aliquyam et, et justo labore lorem kasd clita sed, sanctus sit consetetur no no ut erat dolor, nonumy sanctus labore takimata erat amet lorem magna nonumy justo. </p>
                        <ul class="about-listing">
                            <li><i class="fas fa-check"></i> Lorem dolor eirmod dolor dolores labore amet voluptua justo.
                            </li>
                            <li><i class="fas fa-check"></i> Sadipscing stet et magna dolore sea. Amet est dolores gubergren.
                            </li>
                            <li><i class="fas fa-check"></i> Justo magna ut gubergren tempor et duo, tempor accusam gubergren.
                            </li>
                        </ul>
                        <a href="#" class="read-btn">Read More</a>
                    </div>
                </div>

            </div>
            <div class="row mt-5">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="servicebox-one ">
                        <div class="service-box-icon"><i class="fas fa-route"></i></div>
                        <h3 class="service-box-title">Best Travel Agent</h3>
                        <p class="service-box-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore .</p>
                        <a class="btn" href="#">See more</a>
                    </div>
                </div>
                <!-- item -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="servicebox-one ">
                        <div class="service-box-icon"><i class="fab fa-avianex"></i></div>
                        <h3 class="service-box-title">Best Price Guarantee</h3>
                        <p class="service-box-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore .</p>
                        <a class="btn" href="#">See more</a>
                    </div>
                </div>
                <!-- item -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="servicebox-one ">
                        <div class="service-box-icon"><i class="fas fa-bullhorn"></i></div>
                        <h3 class="service-box-title">Trust & Safety</h3>
                        <p class="service-box-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore .</p>
                        <a class="btn" href="#">See more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End-about-area -->
    <!-- offer-section -->
    <section class="offer-area-one same-section-spacing">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="add-area ">
                        <h3>1000 $ for person - 6 nights</h3>
                        <h2>Discount <span class="text-theme">10-30% </span> Off</h2>
                        <p>If you’re looking for a truly memorable family break here you find the lowest price on the right hotel for you. It's indescribable. Stay up to date and check out the deals for these trending destinations.</p>
                        <a href="#" class="site-button white">See Promotion Tours</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6"></div>
            </div>
        </div>
    </section>
    <!-- End-offer-section -->
    <!-- service-section -->
    <section class="service-one ws-section-spacing ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-title ">
                        <h2 class="title">Why Choose Us</h2>
                        <h4 class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim veniam.</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <img src="https://weblizar.com/" alt="about-2">
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="servicebox-one service-type-two">
                                <div class="service-box-icon"><i class="fas fa-route"></i></div>
                                <h3 class="service-box-title">Best Travel Agent</h3>
                                <p class="service-box-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <a class="btn" href="#">See more</a>
                            </div>
                        </div>
                        <!-- item -->
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="servicebox-one service-type-two">
                                <div class="service-box-icon"><i class="fab fa-avianex"></i></div>
                                <h3 class="service-box-title">Best Price </h3>
                                <p class="service-box-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit .
                                </p>
                                <a class="btn" href="#">See more</a>
                            </div>
                        </div>
                        <!-- item -->
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="servicebox-one service-type-two">
                                <div class="service-box-icon"><i class="fas fa-bullhorn"></i></div>
                                <h3 class="service-box-title">Trust & Safety</h3>
                                <p class="service-box-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <a class="btn" href="#">See more</a>
                            </div>
                        </div>
                        <!-- item -->
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="servicebox-one service-type-two">
                                <div class="service-box-icon"><i class="fa fa-home"></i></div>
                                <h3 class="service-box-title">Amazing Tour</h3>
                                <p class="service-box-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <a class="btn" href="#">See more</a>
                            </div>
                        </div>
                        <!-- item -->
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="servicebox-one service-type-two">
                                <div class="service-box-icon"><i class="fas fa-ticket-alt"></i></div>
                                <h3 class="service-box-title">Ticket Booking</h3>
                                <p class="service-box-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <a class="btn" href="#">See more</a>
                            </div>
                        </div>
                        <!-- item -->
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="servicebox-one service-type-two">
                                <div class="service-box-icon"><i class="fa fa-bed"></i></div>
                                <h3 class="service-box-title">Hotel Booking</h3>
                                <p class="service-box-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit .
                                </p>
                                <a class="btn" href="#">See more</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End-service-section -->
    <!-- Footer-section -->
    {{>footer}}
    <!-- End-footer-section -->
    <!-- Back to top button -->
    {{>script}}

</body>

</html>