<!DOCTYPE html>
<html lang="zxx">

<head>
    {{>head}}
</head>

<body>
    <!-- Preloader -->
    <!--<div id="preloader"></div>-->
    <!-- Start-Header-Section -->
    <header>
        <!-- Topbar-start-area -->
        <div class="header_top_area type-two">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="contact_wrapper_top">
                            <ul class="header_top_contact">
                                {{>headcontact}}
                            </ul>
                            <div class="topbar-icon">
                                <ul>
                                    {{>social}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End-Topbar-area -->
        <!-- Menu-start-area -->
        <div class="header-fixed header-two">
            <div class="container">
                {{>nav}}
            </div>
        </div>
        <!-- End-Menu-area-->
    </header>
    <!-- Banner-area -->
    <section class="same-section-spacing bg-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-box">
                        <h2>Blog Full</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog Full</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End-banner-area -->
    <!-- Start-Package-Section -->
    <section class="same-section-spacing single-blog">
        <div class="container">
            <div class="row masonry-item">
                <div class="col-lg-4 col-md-6 col-sm-12 masonry">
                    <div class="package-one blog-box">
                        <div class="img-wapper">
                            <img src="images/gallery-4.jpg" alt="package-img">
                        </div>
                        <div class="package-content">
                            <h3><a href="#">Dolor sit erat amet ipsum ea eirmod invidunt.</a></h3>
                            <ul class="meta-tag">
                                <li><a href="#"><i class="fa fa-user"></i> Jhon Doe</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> 12 june, 2019</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 10</a></li>
                            </ul>
                            <p>Labore et dolor ipsum elitr sed dolores et kasd. Vero duo sadipscing duo lorem, et lorem stet stet duo labore elitr labore stet amet sit et dolor dolore.Dolor sadipscing est stet sea Consetetur aliquyam et et..
                            </p>
                            <a href="#" class="read-btn">Read More <i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 masonry">
                    <!-- item -->
                    <div class="package-one blog-box">
                        <div class="img-wapper">
                            <img src="images/gallery-1.jpg" alt="package-img">

                        </div>
                        <div class="package-content">
                            <h3><a href="#">Voluptua duo eos vero eirmod dolore diam ipsum.</a></h3>
                            <ul class="meta-tag">
                                <li><a href="#"><i class="fa fa-user"></i> Jhon Doe</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> 12 june, 2019</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 10</a></li>
                            </ul>
                            <p>Labore et dolor ipsum elitr sed dolores et kasd. Vero duo sadipscing duo lorem, et lorem stet stet duo labore elitr labore stet amet sit et dolor dolore.
                            </p>
                            <a href="#" class="read-btn">Read More <i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 masonry">
                    <div class="package-one blog-box">
                        <div class="img-wapper">
                            <img src="images/gallery-3.jpg" alt="package-img">
                            <div class="pulse-box">
                                <a href="http://www.youtube.com/watch?v=XSGBVzeBUbk" data-lity="" class="pulse-icon"><i class="fas fa-play"></i></a>
                            </div>
                        </div>
                        <div class="package-content">
                            <h3><a href="#">No dolor dolor et dolor ipsum. Clita sea sed takimata.</a></h3>
                            <ul class="meta-tag">
                                <li><a href="#"><i class="fa fa-user"></i> Jhon Doe</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> 12 june, 2019</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 10</a></li>
                            </ul>
                            <p>Labore et dolor ipsum elitr sed dolores et kasd. Vero duo sadipscing duo lorem, et lorem stet stet duo labore elitr labore stet amet sit et dolor dolore.
                            </p>
                            <a href="#" class="read-btn">Read More <i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 masonry">
                    <div class="package-one blog-box">
                        <div class="img-wapper">
                            <img src="images/gallery-4.jpg" alt="package-img">
                            <div class="pulse-box">
                                <a href="http://www.youtube.com/watch?v=XSGBVzeBUbk" data-lity="" class="pulse-icon"><i class="fas fa-play"></i></a>
                            </div>
                        </div>
                        <div class="package-content">
                            <h3><a href="#">Dolor sit erat amet ipsum ea eirmod invidunt.</a></h3>
                            <ul class="meta-tag">
                                <li><a href="#"><i class="fa fa-user"></i> Jhon Doe</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> 12 june, 2019</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 10</a></li>
                            </ul>
                            <p>Labore et dolor ipsum elitr sed dolores et kasd. Vero duo sadipscing duo lorem, et lorem stet stet duo labore elitr labore stet amet sit et dolor dolore.Ipsum et sit diam elitr eirmod clita Et est..
                            </p>
                            <a href="#" class="read-btn">Read More <i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 masonry">
                    <!-- item -->
                    <div class="package-one blog-box">
                        <div class="img-wapper">
                            <img src="images/gallery-5.jpg" alt="package-img">
                        </div>
                        <div class="package-content">
                            <h3><a href="#">Voluptua duo eos vero eirmod dolore diam ipsum.</a></h3>
                            <ul class="meta-tag">
                                <li><a href="#"><i class="fa fa-user"></i> Jhon Doe</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> 12 june, 2019</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 10</a></li>
                            </ul>
                            <p>Labore et dolor ipsum elitr sed dolores et kasd. Vero duo sadipscing duo lorem, et lorem stet stet duo labore elitr labore stet amet sit et dolor dolore.Consetetur invidunt eirmod et dolor amet labore voluptua sit.
                            </p>
                            <a href="#" class="read-btn">Read More <i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 masonry">
                    <div class="package-one blog-box">
                        <div class="img-wapper">
                            <img src="images/gallery-6.jpg" alt="package-img">
                        </div>
                        <div class="package-content">
                            <h3><a href="#">No dolor dolor et dolor ipsum. Clita sea sed takimata.</a></h3>
                            <ul class="meta-tag">
                                <li><a href="#"><i class="fa fa-user"></i> Jhon Doe</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> 12 june, 2019</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 10</a></li>
                            </ul>
                            <p>Labore et dolor ipsum elitr sed dolores et kasd. Vero duo sadipscing duo lorem, et lorem stet stet duo labore elitr labore stet amet sit et dolor dolore.
                            </p>
                            <a href="#" class="read-btn">Read More <i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pagination -->
            <nav class="pagination-outer mt-4" aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item">
                        <a href="#" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item "><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item">
                        <a href="#" class="page-link" aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        </div>
    </section>
    <!-- End-Package-Section -->
    <!-- Partner-section -->
    <section class="same-section-spacing bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-title ">
                        <h2 class="title">Our Partners</h2>
                        <h4 class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim veniam.</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="client-slide">
                        <div class="item">
                            <div class="img-wapper">
                                <img src="images/client1.png" alt="">
                            </div>
                        </div>
                        <!-- item -->
                        <div class="item">
                            <div class="img-wapper">
                                <img src="images/client2.png" alt="">
                            </div>
                        </div>
                        <!-- item -->
                        <div class="item">
                            <div class="img-wapper">
                                <img src="images/client3.png" alt="">
                            </div>
                        </div>
                        <!-- item -->
                        <div class="item">
                            <div class="img-wapper">
                                <img src="images/client4.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-wapper">
                                <img src="images/client1.png" alt="">
                            </div>
                        </div>
                        <!-- item -->
                        <div class="item">
                            <div class="img-wapper">
                                <img src="images/client2.png" alt="">
                            </div>
                        </div>
                        <!-- item -->
                        <div class="item">
                            <div class="img-wapper">
                                <img src="images/client3.png" alt="">
                            </div>
                        </div>
                        <!-- item -->
                        <div class="item">
                            <div class="img-wapper">
                                <img src="images/client4.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End-Partner-section -->
    <!-- Footer-section -->
    {{>footer}}
    <!-- End-footer-section -->
    <!-- Back to top button -->
    {{>scripts}}

</body>


</html>